<header>
  <img src="../assets/moneyMap_logo.png" alt="Logo da Aplicação" class="logo">
  <h1>MoneyMap</h1>
  <nav>
    
    <ul>
      <li><a href="/">Dashboard</a></li>
      <li><a href="/transactions">Transações</a></li>
      <li><a href="/categories">Categorias</a></li>
      <li><a href="/goals">Metas</a></li>
    </ul>
  </nav>

</header>